<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<div id="sidebar">
		<ul>
			<% @products.each do |p| %>
			<li><%=link_to p.category.name,category_path(:id => p.category.id) %></li>
			<% end %>
		</ul>
	</div>
</div>